:root {
    --background-color: #f9f9f9;
    --white-color: #ffffff;
    --black-color: #202123;
    --gray-color: #d9d9d9;
    --primary-color: #123a6e;
    --secondary-color: #F1F7FE;
    --third-color: #66C6F0;
    --line: 1px solid rgba(0, 0, 0, 0.1);
}

/* * {
    outline: 1px solid tomato;
} */

.wrap {
    min-width: 320px;
}

#Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

#Header.on {
    background: var(--white-color);
    border-bottom: var(--line);
}

.header_wrap {
    display: flex;
    justify-content: space-between;

    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;

    line-height: 100px;
}

.header_wrap .gnb>ul {
    display: flex;
    gap: 40px;
}

.header_wrap .gnb>ul>li>a {
    display: block;

    font-size: 20px;
    font-weight: 500;
    color: var(--white-color);
    white-space: nowrap;
}

#Header.on .gnb>ul>li>a {
    color: var(--black-color);
}

.header_wrap .util>ul {
    display: flex;
    gap: 15px;
}

.header_wrap .util>ul>li>a {
    display: block;

    font-size: 14px;
    color: var(--white-color);
    white-space: nowrap;
}

#Header.on .util>ul>li>a {
    color: var(--black-color);
}







.MainVisual {
    background: url(../images/main_visual_bg.jpg) no-repeat center center/cover;
}

.MainVisual .visual_con {
    display: flex;
    justify-content: space-between;
}

.MainVisual .slogan p {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin: 0 0 6px 0;
}

.MainVisual .slogan strong {
    display: block;
    font-size: 72px;
    font-weight: 700;
    text-indent: -4px;
}

.MainVisual #search {
    display: flex;
}





.MainNotice .title {
    display: flex;
    align-items: center;
    gap: 60px;

    margin: 0 auto 80px auto;
}

.MainNotice .tab_menu {
    display: flex;
    align-items: center;
    gap: 15px;
}

.MainNotice .tab_menu>li>a {
    font-size: 18px;
    font-weight: 600;
    color: var(--gray-color);
}

.MainNotice .tab_menu>li.on>a {
    color: var(--black-color);
}

.MainNotice .tab_menu>li .feather {
    visibility: hidden;
    vertical-align: -5px;
}

.MainNotice .tab_menu>li.on .feather {
    visibility: visible;
}

.MainNotice .main_notice .tab_content {
    margin: 0 0 80px 0;
}

.MainNotice .main_notice .main_notice_slide {
    height: 0;
    visibility: hidden;
}

.MainNotice .main_notice .main_notice_slide.on {
    height: 100%;
    visibility: visible;
}

.MainNotice .main_notice_slide .itm {
    /* height: 80%; */
    padding: 40px 32px;

    border: var(--line);
    border-radius: 16px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
}

.MainNotice .main_notice_slide .itm span {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 16px 0;
}

.MainNotice .main_notice_slide .itm strong {
    display: block;
    font-size: 18px;
    font-weight: 600;
    padding: 0 0 24px 0;
    margin: 0 0 24px 0;

    border-bottom: var(--line);

    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: keep-all;
}

.MainNotice .main_notice_slide .itm p {
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 32px 0;

    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: keep-all;
}

.MainNotice .main_notice .user_menu {
    display: flex;
    gap: 30px;
}

.MainNotice .main_notice .user_menu>li {
    flex: 1;
}

.MainNotice .main_notice .user_menu>li>a {
    position: relative;
    display: block;
    background: var(--secondary-color);
    padding: 24px 32px;

    font-size: 18px;
    font-weight: 600;
}

.MainNotice .main_notice .user_menu>li>a .feather {
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translate(0, -50%);
}






.MainCategory {
    position: relative;
}

.MainCategory::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    height: 50vh;

    background: var(--secondary-color);
}

.MainCategory .title {
    display: flex;
    align-items: center;
    gap: 60px;

    margin: 0 auto 64px auto;
}

.MainCategory .tab_menu {
    display: flex;
    align-items: center;
    gap: 15px;

    margin: 0 auto 0 0;
}

.MainCategory .tab_menu>li>a {
    font-size: 18px;
    font-weight: 600;
    color: var(--gray-color);
    white-space: nowrap;
}

.MainCategory .tab_menu>li.on>a {
    color: var(--black-color);
}

.MainCategory .tab_menu>li .feather {
    visibility: hidden;
    vertical-align: -5px;
}

.MainCategory .tab_menu>li.on .feather {
    visibility: visible;
}

.MainCategory .title .more {
    display: block;
    padding: 8px 9.5px;
    box-sizing: content-box;
    background: var(--primary-color);
    border-radius: 50%;

    order: 4;
}

.MainCategory .title::after {
    content: "";

    width: 100%;
    height: 1px;

    background: var(--gray-color);
}

.MainCategory .title .more .feather {
    color: var(--white-color);
}

.MainCategory .tab_content .con {
    display: flex;
    gap: 30px;
}

.MainCategory .tab_content .con>* {
    flex: 1;
}

.MainCategory .tab_content .con .itm {
    text-align: center;
}

.MainCategory .tab_content .con .itm figure {
    border: var(--line);
    height: 470px;

    margin: 0 0 16px 0;
}

.MainCategory .tab_content .con .itm img {
    width: 100%;
    height: 100%;
}

.MainCategory .tab_content .con .itm strong {
    font-size: 20px;
    font-weight: 600;
}







.MainCuration {
    background: url(../images/main_curation_bg.png) no-repeat center top;
    background-size: 100%;
}

.MainCuration .title_area {
    position: relative;

    padding: 80px 0;
    margin: 200px 0 32px 0;
}

.MainCuration .title_area::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 50%;
    height: 100%;

    background: var(--primary-color);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.MainCuration .title_area .title {
    position: relative;
    z-index: 1;

    color: var(--white-color);
}

.MainCuration .title_area .title h2 {
    margin: 0 0 24px 0;
}

.MainCuration .content_area {
    border-top: var(--line);

}

.MainCuration .content_area .inner {
    display: flex;
    gap: 60px;
}

.MainCuration .content_area .inner>* {
    position: relative;

    flex: 1;
    padding: 40px 0;
}

.MainCuration .content_area .itm .feather {
    display: block;
    width: 64px;
    height: 64px;
    stroke-width: 1;

    margin: 0 0 80px 0;
}

.MainCuration .content_area .itm::after {
    content: "";
    position: absolute;
    top: 52px;
    left: 24px;
    z-index: -1;

    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: var(--secondary-color);
}

.MainCuration .content_area .itm~.itm::before {
    content: "";
    position: absolute;
    top: 32px;
    bottom: 0;
    left: -30px;

    width: 1px;
    background: rgba(0, 0, 0, 0.1);
}

.MainCuration .content_area .itm strong {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 14px 0;
    white-space: nowrap;
}

.MainCuration .content_area .itm p {
    line-height: 20px;
    word-break: keep-all;
}






.MainContent .word_animation .track {
    width: 200%;
    background: var(--secondary-color);
    border-bottom: 1px solid var(--white-color);
}

.MainContent .word_animation .track span {
    display: inline-block;
    overflow: hidden;

    white-space: nowrap;
    font-size: 48px;
    font-weight: 600;
    line-height: 100px;
    color: var(--white-color);
    animation: scrolling 10s linear infinite;
}

@keyframes scrolling {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.MainContent .top_content {
    background: var(--secondary-color);
}

.MainContent .top_content .online_content {
    display: flex;
    padding: 40px 0;
}

.MainContent .top_content .online_content .left {
    flex: 1;
}

.MainContent .top_content .online_content .right {
    flex: 3;
}

.MainContent .top_content .online_content_slide .swiper-slide {
    display: flex;
}